<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppAttestEnvironment</key>
	<string>$(APP_ATTEST_ENVIRONMENT)</string>
	<key>SubscriptionAPIURL</key>
	<string>$(SUBSCRIPTION_API_URL)</string>
	<key>SubscriptionProductID</key>
	<string>$(SUBSCRIPTION_PRODUCT_ID)</string>
	<key>SubscriptionStoreEnvironment</key>
	<string>$(SUBSCRIPTION_STORE_ENVIRONMENT)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
